* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b3ebf2;
}

.alert-mobile {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    max-width: 300px;
    font-family: "Roboto", sans-serif;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 32px;
}

.clock-container {
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 32px;
  gap: 32px;
}

.clock {
  display: flex;
  flex-direction: column;

  font-family: "Roboto", sans-serif;
  width: 50%;
  max-width: 350px;
}

.canvas {
  flex: 1;
  /* border: 1px solid black; */
  position: relative;
  overflow: hidden;
}

.mee_penguin {
  position: absolute;
  width: 150px;
  top: 5%;
  left: 5%;
  scale: 1.3;
  transition: left 0.5s ease;
}

.my_penguin {
  position: absolute;
  width: 150px;
  bottom: -4px;
  right: -13px;
  /* transform: translate(-50%, -50%); */
}
